/* Parallax Styles */
ul.parallax-slides li{
	list-style-type: none;
	overflow: hidden;
	height: 700px;
}

.absolute {
	z-index: 2;
	left: 15px;
	right: 15px;
	position: absolute;
}

.parallax {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	height: 900px;

}
/* End Parallax Styles */
		