body, h1, h2,h3,h4 {
	margin: 0;
	padding: 0;
}

.divider {
	position: relative;
	background-size: cover !important;
	background-attachment: fixed !important;
}

section.page {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	margin: 0;
	position: relative;
	height: 780px;
}

section.page-1 {
	background-image: url(../images/bg1.jpg);
	color: #fff;
}

section.page-2 h1 {
	color: #000;
}

section.page-3 {
	background-color: #fff;
}

section.page-3 {
	background-image: url(../images/bg2.jpg);	
}

section.page-3 h1, section.page-4 h1{
	color: #fff;
}

section.page-4 {
	background-color: #fed340;	
}

section.page.page-5{
	background-image: url(../images/bg3.jpg);	
}