body, h1, h2,h3,h4 {
	margin: 0;
	padding: 0;
}

.divider {
	position: relative;
	background-size: cover !important;
	background-attachment: fixed !important;
}

section.page-reveal {
	height: 780px;
}

section.page {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	margin: 0;
	position: relative;
}
